<head> 
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	<title>Google Maps Multiple Markers</title> 
	<script src="http://maps.google.com/maps/api/js?sensor=false" 
					type="text/javascript"></script>
</head> 
<body>
	<div id="map" style="width:100%;height:450px" 
data-name1="<%= flash[:name][0] %>" data-latitude1="<%= flash[:latitude][0] %>" data-longitude1="<%= flash[:longitude][0] %>" data-name2="<%= flash[:name][1] %>" data-latitude2="<%= flash[:latitude][1] %>" data-longitude2="<%= flash[:longitude][1] %>" data-name3="<%= flash[:name][2] %>" data-latitude3="<%= flash[:latitude][2] %>" data-longitude3="<%= flash[:longitude][2] %>" 
data-name4="<%= flash[:name][3] %>" data-latitude4="<%= flash[:latitude][3] %>" data-longitude4="<%= flash[:longitude][3] %>" data-name5="<%= flash[:name][4] %>" data-latitude5="<%= flash[:latitude][4] %>" data-longitude5="<%= flash[:longitude][4] %>">

	<script type="text/javascript">
		var mapDiv = $('#map');
		var locations = [
			[mapDiv.data('name1'), mapDiv.data('latitude1'), mapDiv.data('longitude1'), 1],
			[mapDiv.data('name2'), mapDiv.data('latitude2'), mapDiv.data('longitude2'), 2],
			[mapDiv.data('name3'), mapDiv.data('latitude3'), mapDiv.data('longitude3'), 3],
			[mapDiv.data('name4'), mapDiv.data('latitude4'), mapDiv.data('longitude4'), 4],
			[mapDiv.data('name5'), mapDiv.data('latitude5'), mapDiv.data('longitude5'), 5]
		];

		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 12,
			center: new google.maps.LatLng(mapDiv.data('latitude1'), mapDiv.data('longitude1')),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var infowindow = new google.maps.InfoWindow();

		var marker, i;

		for (i = 0; i < locations.length; i++) {  
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(locations[i][1], locations[i][2]),
				map: map
			});

			google.maps.event.addListener(marker, 'click', (function(marker, i) {
				return function() {
					infowindow.setContent(locations[i][0]);
					infowindow.open(map, marker);
				}
			})(marker, i));
		}
	</script>
</div>

<table id="tablex" style="width:100%; margin:50px 0 0 0" class="table table-hover">
	<tr>
		<th>Restaurant Name</th>
		<th>Address</th>		
		<th>Rating</th>
		<th>Distance</th>
  	</tr>
	<% if (flash[:name][0] != nil) %>
	<tr>
		<td><%= link_to flash[:name][0], search_path(:param1 => flash[:name][0], 
		:param2 => flash[:address][0], :param3 => flash[:id][0], :param4 => flash[:category][0]) %></td>
		<td><%= flash[:address][0] %></td>	
		<td><%= flash[:star][0] %></td>
		<td><%= flash[:distance][0] %></td>
	</tr>
	<% end %>
	<% if (flash[:name][1] != nil) %>
	<tr>
		<td><%= link_to flash[:name][1], search_path(:param1 => flash[:name][1], 
		:param2 => flash[:address][1], :param3 => flash[:id][1], :param4 => flash[:category][1]) %></td>
		<td><%= flash[:address][1] %></td> 
		<td><%= flash[:star][1] %></td>
		<td><%= flash[:distance][1] %></td>
	</tr>
	<% end %>
	<% if (flash[:name][2] != nil) %>
	<tr>
		<td><%= link_to flash[:name][2], search_path(:param1 => flash[:name][2], 
		:param2 => flash[:address][2], :param3 => flash[:id][2], :param4 => flash[:category][2]) %></td>
		<td><%= flash[:address][2] %></td> 
		<td><%= flash[:star][2] %></td>
		<td><%= flash[:distance][2] %></td>
	</tr>
	<% end %>
	<% if (flash[:name][3] != nil) %>
	<tr>
		<td><%= link_to flash[:name][3], search_path(:param1 => flash[:name][3], 
		:param2 => flash[:address][3], :param3 => flash[:id][3], :param4 => flash[:category][3]) %></td>
		<td><%= flash[:address][3] %></td> 
		<td><%= flash[:star][3] %></td>
		<td><%= flash[:distance][3] %></td>
	</tr>
	<% end %>
	<% if (flash[:name][4] != nil) %>
	<tr>
		<td><%= link_to flash[:name][4], search_path(:param1 => flash[:name][4], 
		:param2 => flash[:address][4], :param3 => flash[:id][4], :param4 => flash[:category][4]) %></td>
		<td><%= flash[:address][4] %></td> 
		<td><%= flash[:star][4] %></td>
		<td><%= flash[:distance][4] %></td>
	</tr>
	<% end %>
</table>
