<!DOCTYPE html>
<html>

	<head>
		<title>Search Result</title>
	</head>

	<body>
		<div class="container-fluid text-center">
			<h1><%= @result.web.first.title %></h1>
			<p><%= @result.web.first.summary %></p>

			<br><a href="<%= @result.web.first.url %>" class="btn btn-success" role="button">Get more info on Yelp</a></br>

			<br><br>
				<div class="progress">
  					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" 
  						aria-valuemax="100" style="width:70%">70
  					</div>
				</div>
			</br></br>
		</div>
		
		<p style="font-size:12pt; line-height:10px">You may also be interested in these restaurants:</p>
		<table style="width:100%; margin:50px 0 0 0" class="table table-hover">
			<tr>
				<th>Restaurant Name</th>
				<th>Address</th>	
				<th>Category</th>		
				<th>Rating</th>
			</tr>
			<% if (flash[:name2][0] != nil) %>
			<% keywords = "" %>
			<% search_result = BingSearch.composite(keywords << flash[:name2][0] << " " << flash[:address2][0], [:web, :image, :news]) %>
			<tr>
				<td><a href="<%= search_result.web.first.url %>"><%= flash[:name2][0] %></a></td>
				<td><%= flash[:address2][0] %></td>
				<td><%= flash[:category2][0] %></td>
				<td><%= flash[:star2][0] %></td>
			</tr>
			<% end %>
			<% if (flash[:name2][1] != nil) %>
			<% keywords = "" %>
			<% search_result = BingSearch.composite(keywords << flash[:name2][1] << " " << flash[:address2][1], [:web, :image, :news]) %>
			<tr>
				<td><a href="<%= search_result.web.first.url %>"><%= flash[:name2][1] %></a></td>
				<td><%= flash[:address2][1] %></td>
				<td><%= flash[:category2][1] %></td>
				<td><%= flash[:star2][1] %></td>
			</tr>
			<% end %>
			<% if (flash[:name2][2] != nil) %>
			<% keywords = "" %>
			<% search_result = BingSearch.composite(keywords << flash[:name2][2] << " " << flash[:address2][2], [:web, :image, :news]) %>
			<tr>	
				<td><a href="<%= search_result.web.first.url %>"><%= flash[:name2][2] %></a></td>
				<td><%= flash[:address2][2] %></td>
				<td><%= flash[:category2][2] %></td>
				<td><%= flash[:star2][2] %></td>
			</tr>
			<% end %>
			<% if (flash[:name2][3] != nil) %>
			<% keywords = "" %>
			<% search_result = BingSearch.composite(keywords << flash[:name2][3] << " " << flash[:address2][3], [:web, :image, :news]) %>
			<tr>	
				<td><a href="<%= search_result.web.first.url %>"><%= flash[:name2][3] %></a></td>
				<td><%= flash[:address2][3] %></td>
				<td><%= flash[:category2][3] %></td>
				<td><%= flash[:star2][3] %></td>
			</tr>
			<% end %>
			<% if (flash[:name2][4] != nil) %>
			<% keywords = "" %>
			<% search_result = BingSearch.composite(keywords << flash[:name2][4] << " " << flash[:address2][4], [:web, :image, :news]) %>
			<tr>	
				<td><a href="<%= search_result.web.first.url %>"><%= flash[:name2][4] %></a></td>
				<td><%= flash[:address2][4] %></td>
				<td><%= flash[:category2][4] %></td>
				<td><%= flash[:star2][4] %></td>
			</tr>
			<% end %>
		</table>
		
	</body>

</html>