<!DOCTYPE html>
<html>

	<head>
		<title>Search Result</title>
	</head>

	<body>
		<div class="container-fluid text-center">
			<h1 style="letter-spacing: 1px; font-size:14pt; text-transform: uppercase;" class="lead"><%= @result.web.first.title %></h1>
			<% if (@result.image.first != nil) %>
				<img src="<%= @result.image.first.media_url %>" class="img-circle" style="width:60%"">
			<% end %>

			<p></br></br><%= @result.web.first.summary %></p>
			<br><a class="btn btn-success" role="button" href="<%= @result.web.first.url %>">Get more info here</a>
			
			<br><br>
			</br></br>
		</div>
		
		<p class="lead" style="font-size:11pt; line-height:10px">You may also be interested in these restaurants:</p>
		<table style="width:100%; margin:50px 0 0 0" class="table table-hover">
			<tr>
				<th>Restaurant Name</th>
				<th>Address</th>	
				<th>Category</th>		
				<th>Rating</th>
			</tr>
			<tr>
				<td><%= flash[:name2][0] %></td>
				<td><%= flash[:address2][0] %></td>
				<td><%= flash[:category2][0] %></td>
				<td><%= flash[:star2][0] %></td>
			</tr>
			<tr>
				<td><%= flash[:name2][1] %></td>
				<td><%= flash[:address2][1] %></td>
				<td><%= flash[:category2][1] %></td>
				<td><%= flash[:star2][1] %></td>
			</tr>
			<tr>	
				<td><%= flash[:name2][2] %></td>
				<td><%= flash[:address2][2] %></td>
				<td><%= flash[:category2][2] %></td>
				<td><%= flash[:star2][2] %></td>
			</tr>
			<tr>	
				<td><%= flash[:name2][3] %></td>
				<td><%= flash[:address2][3] %></td>
				<td><%= flash[:category2][3] %></td>
				<td><%= flash[:star2][3] %></td>
			</tr>
			<tr>	
				<td><%= flash[:name2][4] %></td>
				<td><%= flash[:address2][4] %></td>
				<td><%= flash[:category2][4] %></td>
				<td><%= flash[:star2][4] %></td>
			</tr>
		</table>
		
	</body>

</html>